<template>
	<md-colors md-primary-color="#00bcd4" md-error-color="#ff4081" md-accent-color="#ff4081"></md-colors>
	
	<!-- <require from="nav-bar.html"></require>

	<nav-bar router.bind="router"></nav-bar> -->

	<div class="page-host">
		<router-view></router-view>
	</div>
</template>
