<template bindable="router">
  <md-navbar fixed="true">
    <!-- <a href="#" class="brand-logo left"><span class="flow-text">${router.title}</span></a> -->
    <div><md-breadcrumbs></md-breadcrumbs></div>
    <!-- <ul class="right hide-on-med-and-down">
      <li md-waves repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
        <a href.bind="row.href">${row.title}</a>
      </li>
    </ul> -->
    <!--<ul class="nav navbar-nav navbar-right">
        <li class="loader" if.bind="router.isNavigating">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </li>
      </ul>-->
  </md-navbar>
</template>
