<template>
  <md-colors md-primary-color="#00bcd4" md-error-color="#ff4081" md-accent-color="#ff4081"></md-colors>
  <div class="row">
   <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a route-href="route: services" class="breadcrumb">Services</a>

        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn-large">Add Service</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="row">
<div class="col s12">
<h2>Services</h2>
</div>
<div class="row">

  <div repeat.for="service of services" class="col s12 m4 l2">
    <!-- <md-card md-title.bind="service.Name"  click.delegate="gotoService(service.Id)">
      <p>
        12 tests, 3 failing
      </p>
      <div class="card-action">
              <a href="#">Run tests</a>
              <a href="#">Edit</a>
            </div>
          </md-card> -->


          <div class="card horizontal">
            <div class="card-image">
              <div style="width: 10px; height: 100%; background-color: ${ $index === 3 ? 'red' : 'green' };"></div>
            </div>
            <div class="card-stacked left-align" >
              <div class="card-content grey-text text-darken-4" md-waves="color: blue;" click.trigger="gotoService(service.Id)">
                <span class="card-title">${service.Name}</span>
                <p>12 tests<br/><span if.bind="$index !== 3" class="">All passing</span><span if.bind="$index === 3" class="error-text">4 failing</span></p>
              </div>
              <div class="card-action">
                <a click.trigger="runTests(service.Id)" md-waves="color: blue;">Run Tests</a>
              </div>
            </div>
          </div>

          


      <!-- <md-collection view-model.ref="list">
        <md-collection-item  repeat.for="service of services" class="avatar ${ selector.isSelected ? 'selected' : '' } ${ selector.mdDisabled ? 'disabled' : '' }">
          <md-collection-selector
          view-model.ref="selector"
          item.bind="test"
          md-on-selection-changed.delegate="onSelectionChanged($event)">
          <img src="images/collections-sample-1.jpg" alt="" class="circle md-collection-selector__hover">
        </md-collection-selector>
        <span class="accent-text title">${service.Name}</span>
        <p>${service.Description}</p>
        <div class="secondary-content" click.delegate="gotoService(service.Id)">
          <i class="material-icons">send</i>
        </div>
      </md-collection-item>
    </md-collection> -->

  </div>
</div>
<!-- 
<div class="au-stagger">

  <md-card md-title.bind="service.Name" repeat.for="service of services" click.delegate="gotoService(service.Id)">
    <div>
      12 tests, 3 failing
    </div>
  </md-card>      
</div>
-->
</template>
