<template>
  <div class="row">
   <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a route-href="route: services" class="breadcrumb">Services</a>
        <a route-href="route: service; params.bind: { serviceId: service.Id }" class="breadcrumb">${service.Name}</a>

        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn-large">Run Tests</a></li>
          <li><a class="waves-effect waves-light btn-large">Add Test</a></li>
        </ul>
      </div>
    </div>
  </nav> 
</div>

<div class="row">
  <div class="col s12">
    <h2>${service.Name}</h2>
    <h5>${service.Description}</h5>
  </div>
</div>
<div class="row" repeat.for="endpoint of tests | groupBy: 'Endpoint' | sort:'group'">
 <div class="col s12">
  <h5><code>${endpoint.group}<code></h5>
 </div>
 <div repeat.for="test of endpoint.values" class="col s12 m4 l2">
  <div class="card horizontal" click.delegate="gotoTest(test.Id)">
    <div class="card-image">
      <div style="width: 10px; height: 100%; background-color: ${ $index === 3 ? 'red' : 'green' };"></div>
    </div>
    <div class="card-stacked left-align" md-waves="color: blue;">
      <div class="card-content grey-text text-darken-4">
        <span >${test.Name}</span>
      </div>
        <!-- <div class="card-action">
          <a href="#">Run Tests</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
</template>
