<template>
  <div class="row">
    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a route-href="route: services" class="breadcrumb">Services</a>
          <a route-href="route: service; params.bind: { serviceId: service.Id }" class="breadcrumb">${service.Name}</a>
          <a route-href="route: test; params.bind: { serviceId: service.Id, testId: test.Id }" class="breadcrumb">${test.Name}</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn-large">Run Test</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>${test.Name}</h2>
      <h5><code>${test.Endpoint}</code></h5>
    </div>
  </div>
</template>
